@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  background-color: $background-grey;
  width: 100%;
  button {
    color: $font-grey-light;

    &:hover {
      color: $primary-color-hover;
    }
    &:focus,
    &:active {
      color: $primary-color;
    }
  }

  &__left {
    &-logo {
      width: 30%;
      padding: 0 10px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
